* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    background-color: #111;
    box-sizing: border-box;
}

h1{
	color: #fff;
	font-size: 3rem;
	text-align: center;
}

.inputDiv{
	display: flex;
	justify-content: center;
	align-items: center;
}

.input{
	outline: none;
	border: none;
	border-radius: 25px;
    padding: 0.5rem 1rem;
    height: 50px;
    width: 350px;
}

.add{
	outline: none;
	border: none;
	border-radius: 25px;
    height: 50px;
    width: 50px;
    background-color: darkgoldenrod;
    color: white;
}

.add:hover{
	background-color: goldenrod;
}

.container{
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	margin-top: 2rem;
}

.item{
	border-bottom: 4px solid #fff;
	margin-bottom: 1.5rem;
}

.itemdone{
	background-color: lightslategray;
	border-bottom: 4px solid #fff;
	margin-bottom: 1.5rem;
}

.item_title{
	outline: none;
	border: none;
	background: none;
	color: #fff;
	font-size: 1.4rem;
	width: 245px;
}

.remove{
	outline: none;
	border: none;
	background: none;
	color: #E00;
	font-size: 1.4rem;
}

.edit{
	outline: none;
	border: none;
	background: none;
	color: lime;
	font-size: 1.4rem;
	
}

.done{
	height: 15px;
	width: 15px;
}

.date{
	outline: none;
	border: none;
	background: none;
	color: white;
	font-size: 1.2rem;
	margin-left: 0.5rem;
}

.text{
	width: 90%;
	height: 30px;
}